<h4>Categories</h4>
<ul>
	<li *ngFor="let cat of categories">
		<a href="" (click)="changeCategory($event, cat._id)" 
			class="{{cat._id == selCategory ? 'selected':''}}">
			{{cat.category}} 
		</a>
	</li>
</ul>
<h4>Participant</h4>
<div id="select">
	<select value={{selAuthor}} (change)="changeAuthor($event.target.value)">
	    <option *ngFor="let item of authors" [value]="item.value">
	    	{{item.label}}
	    </option>
	</select>	
</div>
		
<button id="reset" (click)="handleReset()">Reset</button>

